.about-section {
  margin-top: 6rem;

  .sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid transparent;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: rgb(63 63 70 / 1);
    padding: 3rem;

    .text {
      margin: 0;
      text-align: center;
      line-height: 1.25rem;
      font-size: 26px;
      color: rgba(255, 255, 255, 0.587);

      @media (max-width: 600px) {
        font-size: 20px;
      }
    }

    .wallet-list {
      margin-right: auto;
      margin-left: auto;
      margin-top: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      pointer-events: auto;
      transition: 1s all ease-in-out;

      @media (max-width: 768px) {
        gap: 1rem;
      }

      .wallet-item {
        color: inherit;
        text-decoration: inherit;

        img {
          color: transparent;
          width: 130px;
          height: 60px;
        }
      }
    }
  }

  .about-right-img {
    color: transparent;
    position: absolute;
    right: 0;
    max-width: 100%;
    height: 200px;
    width: 330px;
    display: block;
    height: auto;
  }

  .about-left-img {
    color: transparent;
    position: absolute;
    left: 0;
    max-width: 100%;
    height: 100px;
    width: 300px;
    display: block;
    height: auto;
  }
}
