.generate-section {
  margin-top: 128px;
  background-color: transparent;

  @media (max-width: 768px) {
    margin-top: 60px;
  }

  .sub-section {
    background-color: transparent;
    position: relative;
    margin-top: 1.25rem;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media (max-width: 1194px) {
      flex-direction: column;
      align-items: center;
    }

    .fade-right {
      width: 40%;
      background-color: transparent;

      @media (max-width: 1194px) {
        width: 60%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      .logo {
        width: 200px;
        height: 70px;
        color: transparent;
        height: auto;
        object-fit: cover;
        max-width: 100%;
        vertical-align: middle;

        @media (max-width: 768px) {
          width: 13%;
          height: 13%;
          object-fit: unset;
        }
      }

      .title {
        width: 100%;
        font-weight: inherit;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          Liberation Mono, Courier New, monospace;
        text-transform: uppercase;
        color: var(--title-color);
        text-align: start;
        font-size: 2rem;
        line-height: 1;
        margin-top: 1.5rem;
        background-color: transparent;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      .flex {
        display: flex;
        margin-top: 1.5rem;
        background-color: transparent;

        .text {
          font-size: inherit;
          font-weight: inherit;
          color: rgb(118 66 218);
          background-color: transparent;
        }

        .line {
          margin-left: 0.5rem;
          margin-top: 0.625rem;
          width: 100%;
          border-top-style: solid;
          border-top-width: 2px;
          border-color: rgb(118 66 218);
          background-color: transparent;
        }
      }

      .product {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1.5rem;
        background-color: transparent;

        @media (max-width: 512px) {
          flex-direction: column;
        }

        .product-item {
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          text-align: center;
          background-color: transparent;

          @media (max-width: 512px) {
            margin-bottom: 1rem;
          }

          .product-img {
            width: 100px;
            background-color: transparent;
          }

          .product-text {
            margin-top: 0.5rem;
            font-size: 20px;
            color: var(--content-text);
            width: 50%;
            background-color: transparent;

            @media (max-width: 512px) {
              width: 100%;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .fade-left {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 0 0 80px;

      @media (max-width: 1194px) {
        width: 60%;
        margin: 80px 0 0 0px;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin: 50px 0 0 0px;
      }

      .content {
        font-weight: 300;
        line-height: 1.625;
        color: var(--content-text);
        text-align: start;
        width: 653px;
        font-size: 20px;
        background-color: transparent;

        @media (max-width: 1194px) {
          width: 100%;
        }

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
