.tokenomics-section {
  .sub-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 120px;

    @media (max-width: 1024px) {
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 768px) {
      margin-top: 60px;
    }

    .title-section {
      margin: 0 auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 2rem;

      @media (max-width: 1024px) {
        width: 70%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      h1 {
        font-weight: inherit;
        text-align: center;
        line-height: 1;
        font-size: 3rem;
        width: 100%;
        color: var(--title-color);
        text-transform: uppercase;

        @media (max-width: 512px) {
          font-size: 2rem;
        }
      }

      p {
        color: var(--content-text);
        margin-top: 2rem;
      }

      .flex {
        display: flex;
        margin-top: 1.5rem;
        width: 100%;
        justify-content: start;
        text-align: left;

        .text {
          font-size: inherit;
          font-weight: inherit;
          color: rgb(118 66 218);
        }

        .line {
          margin-left: 0.5rem;
          margin-top: 0.5rem;
          width: 50%;
          border-top-style: solid;
          border-top-width: 2px;
          border-color: rgb(118 66 218);
        }
      }
    }

    .content {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media (max-width: 768px) {
        margin-top: 2rem;
      }

      .item {
        width: 50%;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @media (max-width: 1024px) {
          width: 70%;
        }

        @media (max-width: 768px) {
          width: 100%;
          flex-direction: column;

          padding: 0.5rem 1rem;
        }

        .image {
          width: 40%;

          @media (max-width: 768px) {
            width: 100%;
          }

          img {
            width: 100%;
            transition: 0.2s all ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .description {
          width: 60%;
          padding: 0 2rem;

          @media (max-width: 768px) {
            width: 100%;
          }

          h3 {
            font-weight: 900;
            font-size: 1.25rem;
            line-height: 2rem;
            text-transform: uppercase;
          }

          p {
            line-height: 2rem;
            color: var(--content-text);
          }
        }
      }
    }
  }
}
