:root {
  --bg-image: linear-gradient(to right, #06061a, #3432c9);
  --pro-color: gold;
  --title-color: gold;
  --roadmap-color: white;
  --content-text: white;
  --btn-color: white;
  --card-color: white;
}
