:root {
  --bg-image: linear-gradient(to left, #ff4d4d, #ff0000);
  --pro-color: white;
  --title-color: #3432c7;
  --roadmap-color: white;
  --content-text: black;
  --btn-color: #3432c7;
  --card-color: rgba(218, 218, 218, 0.301);
  --doc: #3432c9;
  --doc-text: white;
}
