.detail-about-section {
  .sub-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 120px;

    @media (max-width: 1194px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 768px) {
      margin-top: 60px;
    }

    .order-right {
      order: 1;

      @media (max-width: 1194px) {
        order: 2;
      }
    }

    .order-left {
      order: 2;

      @media (max-width: 1194px) {
        order: 1;
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 456px;
      width: 100%;

      @media (max-width: 1194px) {
        width: 100%;
        height: auto;
        margin-left: 0 !important;
      }

      video {
        display: block;
        vertical-align: middle;
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        object-fit: cover;
      }

      .badge-img {
        width: 100%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2.5rem;
      align-items: flex-start;
      pointer-events: auto;
      margin-top: 1rem;
      margin-left: 80px;
      opacity: 1;
      transition: 0.3s all ease-in-out;

      @media (max-width: 1194px) {
        margin-left: 0 !important;
      }

      .title {
        text-align: start;
        font-weight: 300;
        line-height: 1.625;
        color: rgb(255 255 255/1);
        width: 653px;

        @media (max-width: 1194px) {
          width: 100%;
        }

        h1 {
          font-size: 48px;
          font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
            Liberation Mono, Courier New, monospace;
          font-weight: inherit;
        }

        p {
          color: rgb(200 200 200/1);
          margin-top: 2rem;
        }
      }

      .learn-btn {
        color: inherit;
        text-decoration: inherit;

        button {
          position: relative;
          height: 2.5rem;
          width: 8rem;
          overflow: hidden;
          border-radius: 0.125rem;
          background-color: var(--default-hover-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          color: rgb(255 255 255/1);
          background-image: linear-gradient(to top, #1d1d20, #3a3a40);
          transition: 0.3s all ease-in-out;
          box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
            0 25px 50px -12px rgba(0, 0, 0, 0.25);

          &:hover {
            background-image: linear-gradient(
              to top,
              var(--default-hover-color),
              var(--default-hover-color)
            );
          }
        }
      }
    }
  }
}
