.footer {
  margin-left: auto;
  margin-right: auto;

  .section {
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: 6rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(115 115 115 / 1);
    background: linear-gradient(90deg, #080808 63.22%, rgba(8, 8, 8, 0));
    background-image: url(../assets/image/footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 12;
    margin: 5rem;

    @media (max-width: 768px) {
      margin: 5rem 0;
    }

    .sub-section {
      width: 100%;
      gap: 8rem;
      display: flex;
      padding: 5rem;

      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
      }

      .first {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .company {
          display: flex;
          position: relative;

          h1 {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          a {
            color: inherit;
            text-decoration: inherit;

            &:hover {
              color: rgb(80 110 155);
            }
          }
        }
      }

      .second {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (max-width: 768px) {
          margin-bottom: 2rem;
        }

        h1 {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          a {
            color: inherit;
            text-decoration: inherit;

            &:hover {
              color: rgb(80 110 155);
            }
          }
        }
      }

      @media (max-width: 768px) {
        right: 50%;
        transform: translateX(50%);
        text-align: center;
      }
    }
  }
}
.copyright {
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 19px;

  span {
    color: #0fe0f7;
  }
}
