.header-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  backdrop-filter: blur(24px);
  position: fixed;

  @media (max-width: 992px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sub-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: inherit;

    .toggle-item {
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-right: 30px;
    }

    .theme-section {
      background-color: #b7bdc6;
      position: relative;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      border-radius: 5px;
      transition: 0.2s all ease-in-out;

      .theme-icon {
        font-size: 16px;
        background-color: #fff;
        width: 18px;
        height: 18px;
        padding: 2px;
        border-radius: 5px;
        transition: 0.2s all ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #000;

        path {
          color: #000;
        }
      }

      .left {
        left: 2px;
      }

      .right {
        right: 2px;
      }
    }

    .right-theme {
      background-color: #474d57 !important;
    }

    .logo {
      background-color: inherit;

      .logo-image {
        width: 50px;
        color: transparent;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: block;
      }
    }

    .route-list {
      display: flex;
      gap: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      background-color: inherit;

      @media (max-width: 992px) {
        display: none;
      }

      .list-item {
        background-color: inherit;
        color: rgb(255 255 255/1);
        padding: 0.5rem;
        border-radius: 0.125rem;
        cursor: pointer;
        height: 2.5rem;

        &:hover {
          color: rgb(80 110 155);
        }

        @media (max-width: 992px) {
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgb(80 110 155);
            color: #fff;
          }
        }

        a {
          background-color: inherit;
          color: inherit;
          text-decoration: inherit;
        }
      }
    }

    .route-list-mobile {
      display: none;
      gap: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      background-color: inherit;

      @media (max-width: 992px) {
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        left: 0;
        width: 100%;
        background-color: rgb(8 8 8);
        backdrop-filter: blur(24px);
        padding: 1rem;
      }

      .list-item {
        background-color: inherit;
        color: rgb(255 255 255/1);
        padding: 0.5rem;
        border-radius: 0.125rem;
        cursor: pointer;
        height: 2.5rem;

        &:hover {
          color: rgb(80 110 155);
        }

        @media (max-width: 992px) {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3rem;

          &:hover {
            background-color: rgb(80 110 155);
            color: #fff;
          }
        }

        a {
          background-color: inherit;
          color: inherit;
          text-decoration: inherit;
        }
      }

      .button-section {
        display: none;
        background-color: inherit;
        color: #3432c7 !important;

        @media (max-width: 992px) {
          display: block;
        }

        .connetWallet {
          display: flex;
          width: 100%;
          margin-top: 10px;
          justify-content: center;

          .btn {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
            color: #3432c7 !important;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
              0 25px 50px -12px rgba(0, 0, 0, 0.25);
            background-color: #cceaf5;
            border-radius: 0.5rem;
            overflow: hidden;
            width: 8rem;
            height: 2.5rem;
            position: relative;
            cursor: pointer;
            background-image: none;
            text-transform: none;
            outline: none;
            border: 0px solid #e5e7eb;
            transition: 0.2s all ease-in-out;

            &:hover {
              background-color: rgb(80 110 155);
            }

            &::before {
              transition-duration: 0.3s;
              content: "";
              animation-duration: 0.3s;
              background-color: rgb(80 110 155);
            }

            @media (max-width: 992px) {
              width: 100%;
            }

            .btn-span {
              color: blue !important;
              position: relative;
              z-index: 10;
              background-color: inherit;
            }
          }
        }

        a {
          color: inherit;
          text-decoration: inherit;

          @media (max-width: 992px) {
            width: 100%;
          }

          .btn {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
            color: #3432c7 !important;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
              0 25px 50px -12px rgba(0, 0, 0, 0.25);
            background-color: #cceaf5;
            border-radius: 0.5rem;
            overflow: hidden;
            width: 8rem;
            height: 2.5rem;
            position: relative;
            cursor: pointer;
            background-image: none;
            text-transform: none;
            outline: none;
            border: 0px solid #e5e7eb;
            transition: 0.2s all ease-in-out;

            &:hover {
              background-color: rgb(80 110 155);
            }

            &::before {
              transition-duration: 0.3s;
              content: "";
              animation-duration: 0.3s;
              background-color: rgb(80 110 155);
            }

            @media (max-width: 992px) {
              width: 100%;
            }

            .btn-span {
              position: relative;
              z-index: 10;
              background-color: inherit;
            }
          }
        }
      }
    }

    .button-section {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      background-color: inherit;
      color: #3432c7 !important;

      @media (max-width: 992px) {
        display: none;
      }

      a {
        color: inherit;
        text-decoration: inherit;

        .btn {
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.15s;
          color: #3432c7 !important;
          box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
            0 25px 50px -12px rgba(0, 0, 0, 0.25);
          background-color: #cceaf5;
          border-radius: 0.5rem;
          overflow: hidden;
          width: 8rem;
          height: 2.5rem;
          position: relative;
          cursor: pointer;
          background-image: none;
          text-transform: none;
          outline: none;
          border: 0px solid #e5e7eb;
          transition: 0.2s all ease-in-out;

          &:hover {
            background-color: rgb(80 110 155);
          }

          &::before {
            transition-duration: 0.3s;
            content: "";
            animation-duration: 0.3s;
            background-color: rgb(80 110 155);
          }

          .btn-span {
            position: relative;
            color: #3432c7;
            z-index: 10;
            background-color: inherit;
          }
        }
      }
    }

    .drop-menu {
      display: none;

      @media (max-width: 992px) {
        display: block;
      }

      .drop-btn {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
        -webkit-appearance: button;
        background-color: initial;
        background-image: none;
        text-transform: none;

        img {
          color: transparent;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}