.main {
  position: relative;
  background-color: rgb(8 8 8/1);
}

.main-background {
  background-image: var(--bg-image);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 100px;
}
